main {
  background: linear-gradient(#e66465, #9198e5);
}

article {
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.contacts li a.instagram:hover {
  color: #3b5998;
}

img {
  width: 100%;
}

.age {
  color: #3b5998;
  font-weight: bold;
}

.avatar {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.grid>.row>[class*="three wide"].column {
  width: 27% !important;
}

.grid>.row>[class*="thirteen wide"].column {
  width: 73% !important;
}

.svg-icon {
  width: 16px;
  height: 16px;
}